@model  List<Role_Management_System.Models.Employee>
@{
    ViewBag.Title = "EmployeeList";
}




<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper">

            <div class="container-fluid">

                    <a href ="@Url.Action("Create","Employee")">
                        <button type="button" class="btn btn-outline-dark">
                            Create New Employee
                        </button>
                        
                    </a>                    
                <!-- DataTables Example -->
                <div class="card mt-4 mb-3" >
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Employee List
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Department</th>
                                        <th>Email</th>
                                        <th>Salary</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (WebSecurity.CurrentUserId == 1)
                                    {
                                        foreach (var emp in Model)
                                        {
                                            <tr>
                                                <td>@emp.Name</td>
                                                <td>@emp.Department</td>
                                                <td>@emp.Email</td>
                                                <td>@emp.Salary</td>
                                                <td>
                                                    <span>
                                                        <a href="@Url.Action("Update", "Employee", new {id = emp.Id })">
                                                            <i class="far fa-edit text-primary"></i>
                                                        </a>
                                                        &nbsp;&nbsp;
                                                        <a href="@Url.Action("Delete", "Employee", new {id = emp.Id })">
                                                            <i class="far fa-trash-alt text-danger"></i>
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var emp in Model)
                                        {
                                            <tr>
                                                <td>@emp.Name</td>
                                                <td>@emp.Department</td>
                                                <td>@emp.Email</td>
                                                <td>@emp.Salary</td>

                                            </tr>
                                        }
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                    @*<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>*@
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="~/js/demo/datatables-demo.js"></script>

</body>

</html>
